.experience .subtitle {
  color: #e0e0e0;
}

.experience-text {
  font-size: 1.5rem;
  line-height: 1.38;
  max-width: 40ch;
  display: block;
  margin-bottom: 1rem;
}

.experience-text strong {
  color: #141414;
}

.company {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.25rem;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  align-items: start;
  gap: .75rem 1.5rem;
  border-radius: .5rem;
  position: relative;
}

.company::before {
  content: '';
  display: block;
  width: .25rem;
  height: 1.25rem;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -.25rem;
  top: 1.25rem;
}

.company-name {
  font-weight: 700;
}

.company-year {
  color: #525252;
  font-size: 0.875rem;
  left: -7.25rem;
  position: absolute;
  text-align: end;
  top: 1.35rem;
  width: 6.25rem;
}

.company-text {
  color: #525252;
  font-size: 0.875rem;
  line-height: 1.4;
}

.company-skills {
  display: flex;
  max-width: 18rem;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: flex-start;
}

.company-skills li {
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.1);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  border-radius: 0.25rem;
  background-color: #fff;
  padding: .75em;
  transition: all ease .4s;
}

.company-skills li:hover {
  box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.5);
  transform: translate(0, -0.5rem);
   cursor: grab;
}

@media screen and (max-width : 800px) {
  .experience {
    grid-template-columns: 1fr;
    gap: 2.25rem;
  }

  .experience .subtitle {
    color: #141414;
  }

  .experience-text {
    font-size: 1.25rem;
  }

  .company-year {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }

  .company-year::before {
    content: 'Year:';
    margin-right: 0.25rem;
  }
}

@media screen and (max-width : 470px) {
  .experience-text {
    font-size: 1.1rem;
  }

  .company {
    grid-template-columns: 1fr;
    padding: .75rem;
  }
}