.footer {
  background: #000;
  color: azure;
}

.footer-container {
  padding: 120px 60px 20px;
  margin: 0 auto;
  align-items: center;
}

.footer-text {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contact li a {
  position: relative;
  color: #b2b2b2;
  transition: color ease 0.2s;
}

.footer-contact li a:hover {
  color: #fff;
}

.footer-contact .email {
  color: #fff;
  display: block;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 1.75rem;
  width: fit-content;
}

.footer-contact li a:after {
  background: #fff;
  content: "";
  display: block;
  height: 2px;
  margin-top: 4px;
  transition: width 0.3s;
  position: absolute;
  width: 0px;
}

.footer-contact li a:hover::after  {
  width: 100%;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  text-transform: capitalize;
}

@media (max-width : 800px) {
  .footer-container {
    padding: 75px 30px 10px;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-container li {
    font-size: 1.5rem;
  }
}