@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Poppins:wght@500&display=swap');

*:not(strong) {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

a:visited {
  color: inherit;
}

body {
  font-family: 'Fira Sans', 'Arial', 'sans-serif';
}

img {
  height: auto;
  max-width: 100%;
}

.subtitle {
  font-size: 6.25rem;
  font-weight: 700;
  word-break: break-all;
  text-transform: uppercase;
  max-width: 4ch;
  margin-top: -20px;
  max-width: initial !important;
}

.container {
  display: grid;
  gap: 6.25rem;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2.5rem 1.25rem;
}

@media screen and (max-width : 800px) {
  .subtitle {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
  }
}

@media screen and (max-width : 320px) {
  .subtitle {
    font-size: 2.5rem;
  }
}
