.graduation {
  background-color: #141414;
  color: #fff;
}

.graduation-container {
  display: grid;
  gap: 6.25rem;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2.25rem 1.25rem;
  position: relative;
}

.graduation-container::after {
  background: url('../img/detalhe.svg') no-repeat center;
  bottom: -50px;
  content: '';
  display: block;
  height: 100px;
  left: 20px;
  position: absolute;
  width: 130px;
}

.graduation .subtitle {
  color: #000;
}

.graduation-text,
.graduation-text a
 {
  color: #a3a3a3;
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
}

.graduation-text a {
  border-bottom: 2px solid #bebebe;
  color: #bebebe;
  transition: all ease 0.2s;
}

.graduation-text a:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.graduation-text strong {
  color: #fff;
}

.institute-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 3.75rem;
}

.institute {
  background: #000;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  transition: transform ease 0.4s;
}

.institute a {
  min-height: 175px;
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  position: relative;
}

.graduation-type {
  color: #a3a3a3;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.graduation-course {
  color: #ffffffcb;
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 2.5rem;
  position: relative;
  transition: color ease 0.15s;
}

.institute .hover-institute:hover
.graduation-course {
  color: #fff;
}

.hover-institute::after {
  content: url('../img/external-link.svg');
  position: absolute;
  margin-left: 7.5px;
  bottom: 14px;
  right: 10px;
  opacity: 0.6;
  transition: opacity ease 0.2s;
}

.hover-institute:hover::after {
  opacity: 1;
}

.institute:hover  {
  transform: translateY(-10px);
}

.courses {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 2.5rem;
}

.graduation-course::before {
  background: linear-gradient(#b6f829, #67dd0a);
  content: '';
  display: block;
  height: 1.25rem;
  left: -1.5rem;
  position: absolute;
  width: .25rem;
}

.graduation-institute {
  color: #a3a3a3;
  font-size: 1.125rem;
}

.graduation-extra h3 {
  color: #8f8f8f;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 1.875rem;
  position: relative;
  text-transform: uppercase;
}

.graduation-extra h3::before {
  background: url('../img/cursos.svg') no-repeat center center;
  content: "";
  display: block;
  height: 1.5rem;
  left: -2.25rem;
  position: absolute;
  top: -.25rem;
  width: 1.5rem;
}

.languages h3::before {
  background: url('../img/idiomas.svg') no-repeat center center;
}

.graduation-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}

.graduation-extra span {
  color: #8f8f8f;
}

.courses li {
  display: flex;
  justify-content: space-between;
}

@media (max-width : 800px) {
  .graduation-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .graduation .subtitle {
    color: #fff;
    color: 1.25rem;
  }

  .graduation-extra h3::before {
    position: initial;
    margin-bottom: .625rem;
  }

  .graduation .subtitle {
    max-width: 5ch;
  }
}

@media screen and (max-width : 470px) {
  .graduation-text {
    font-size: 1.1rem;
    line-height: 1.4;
  }
}