.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 75rem;
  padding: 2rem 1.25rem;
}

.page-header span {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
}

.logo {
  background-color: #f9f9f9;
  border-radius: 50%;
  height: 30px;
  color: #7ADB1E;
  padding: .625rem;
  width: fit-content;
}

.logo span {
  display: inline-block;
  width: 1ch;
  overflow: hidden;
}

.logo:hover span, .logo:hover {
  width: fit-content;
  border-radius: 16px;
}

.page-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  justify-content: center;
}

.page-menu a {
  background-color: #f9f9f9;
  color: #141414;
  display: block;
  font-size: 1.125rem;
  line-height: 1.3;
  padding: .625rem 1.25rem;
  transition: box-shadow .4s;
}

.page-menu a:hover {
  color: #f9f9f9;
  box-shadow: inset 140px 0 #7ADB1E;
}

@media screen and (max-width : 800px) {
    .page-header {
      flex-direction: column;
      gap: 2.5rem;
    }
}

@media screen and (max-width : 380px) {
  .page-header {
    gap: 1.5rem;
    padding: 1.25rem;
  }
}