@media (min-height : 630px) and (min-width : 1000px) {
  .introduction {
    height: 71vh;
    position: relative;
  }

  .introduction::after {
    animation: rollDown 2s infinite;
    background: url('../img/arrow.svg') center no-repeat;
    content: '';
    height: 52px;
    left: 48.25%;
    position: absolute;
    top: 72vh;
    transform: rotate(90deg);
    width: 52px;
  }

  .hi-roles {
    margin: 0 auto;
  }

  h1.hi,
  .hi-roles h1 {
    position: relative;
    top: -1.5rem;
  }

  @keyframes rollDown {
    0% {
      top: 68vh;
    }
    50% {
      top: 73vh;
    }
    100% {
      top: 68vh;
    }
  }
}

.introduction {
  align-items: center;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.introduction h1, .name {
  font-family: 'Fira Sans', 'Arial', 'sans-serif';
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.125;
  margin-bottom: 1.875rem;
  position: relative;
}

.name {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text-rev 0.3s ease forwards;
  background-clip: text;
  background-image: linear-gradient(90deg,#7ADB1E, #7ADB1E);
  cursor: grab;
}

.name:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

.introduction h1:not(.hi)::before {
  background-image: url('../img/detalhe.svg');
  content: '';
  height: 130px;
  left: -45px;
  position: absolute;
  top: -25px;
  width: 130px;
  z-index: -1;
}

.introduction p {
  color: #525252;
  font-size: 1.5rem;
}

@media screen and (max-width : 1000px){
  .introduction h1, .name {
    font-size: 3rem;
  }
}

@media screen and (max-width : 800px){
  .introduction {
    height: 100%;
  }

  .introduction h1, .name {
    font-size: 2.75rem;
  }
}

@media screen and (max-width : 610px){
  .container.introduction {
    gap: 0;
  }

  .introduction {
    background-color: #0f0f0f;
    grid-template-columns: 1fr;
    padding-bottom: 4.5rem;
    padding-top: 4.5rem;
  }

  .hi-message {
    padding: 0;
  }

  .hi {
    width: auto;
  }

  .hi-roles h1,
  .hi-roles p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
  }

  .introduction h1, .name {
    font-size: 2rem;
  }

  .introduction .hi, .name  {
    text-align: center;
    color: #fff;
  }

  .introduction .hi::after {
    content: ' 👋';
  }
  
  .introduction h1:not(.hi) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.5s ease forwards;
    background-clip: text;
    background-image: linear-gradient(90deg, #CAEC36, #7ADB1E, #7ADB1E);
    cursor: grab;
    width: fit-content;
  }

  .introduction h1:hover:not(.hi) {
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }

  .introduction p {
    color: #f2f2f2;
  }
}

@keyframes rainbow-text-simple-animation-rev {
  0% {
      background-size: 650%;
  }
  40% {
      background-size: 650%;
  }
  100% {
      background-size: 100%;
  }
}

@keyframes rainbow-text-rev {
  0% {
    background-size: 100%;
    background-image: linear-gradient(45deg, #7ADB1E, #7ADB1E, #CAEC36, #CAEC36);
  }
  25% {
    background-size: 100%;
    background-image: linear-gradient(45deg,#7ADB1E, #7ADB1E,#CAEC36, #CAEC36, #CAEC36);
  }
  37.5% {
    background-size: 100%;
    background-image: linear-gradient(45deg,#7ADB1E, #CAEC36, #CAEC36, #CAEC36);
  }
   50% {
    background-size: 100%;
    background-image: linear-gradient(45deg, #7ADB1E #CAEC36, #CAEC36, #CAEC36, #7ADB1E);
  }
  65% {
    background-size: 100%;
    background-image: linear-gradient(45deg, #CAEC36, #CAEC36, #7ADB1E);
  
  }
  100% {
    background-size: 100%;
  }
}

@keyframes rainbow-text-simple-animation {
  0% {
      background-size: 100%;
    }
  25% {
    background-size: 100%;
    background-image: linear-gradient(45deg, #CAEC36, #CAEC36, #7ADB1E);
  }
  37.5% {
    background-size: 100%;
    background-image: linear-gradient(45deg, #CAEC36, #CAEC36, #7ADB1E);
  }
   50% {
    background-size: 100%;
    background-image: linear-gradient(45deg, #7ADB1E #CAEC36, #CAEC36, #CAEC36, #7ADB1E);
  }
  65% {
    background-size: 100%;
    background-image: linear-gradient(45deg,#7ADB1E, #CAEC36, #CAEC36, #CAEC36);
  }
  75% {
    background-size: 100%;
    background-image: linear-gradient(45deg,#7ADB1E, #7ADB1E,#CAEC36, #CAEC36, #CAEC36);
  }
  100% {
      background-size: 100%;
      background-image: linear-gradient(45deg, #7ADB1E, #7ADB1E, #CAEC36, #CAEC36);
  }
}

@media (max-width : 490px) {
  .introduction {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .introduction h1, .name {
    font-size: 1.75rem;
  }

  .introduction p {
    font-size: 1.5rem;
  }
}

@media (max-width : 440px) {
  .introduction h1, .name {
    font-size: 1.5rem;
  }

  .introduction p {
    font-size: 1.2rem;
  }
}
