.hover-link {
  position: relative;
}

.hover-link::after {
  background: currentColor;
  display: flex;
  content: "";
  height: 2px;
  margin-top: 2px;
  position: absolute;
  transition: width 0.3s;
  width: 0px;
}

.hover-link:hover::after  {
  width: 100%;
}

.external-link::after {
  content: url('../img/icons/github-external.svg');
  position: absolute;
  top: 15px;
  margin-left: 10px;
}

@media (max-width : 470px) {
  .external-link::after {
    top: 7px;
  }
}